# Ignore these files
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lnk
*.lod
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.pdf
*.snm
*.synctex(busy)
*.synctex.gz
*.tdo
*.toc
*.vrb